/* Comentário: dentro dessa tag fica o CSS */
body {
    background: #C8BFE7;
    margin: 0;
}
#layout {
    background-color: grey;
    width: 80%;
    margin: 0 auto;
    padding: 10;
}
header {
    background: grey;
    padding: 10px;
    height: 150px;
}
nav {
    background: #eee1e1;
    width: 300px;
    float:left;
}
main{
    float: left;
    width: 890;
    margin: 10px;
    min-height: 490;
}
#conteudo{
    background: red; /* cor do fundo */
    color: white; /* cor da fonte */
    margin: 20 10 5;
    padding: 20;
    /* height: 50; altura: */
    width: 50%; /* largura mínima em píxeis */
    margin-top: 20px; /* distanciamento para outros componentes: margin-left, margin-bottom, margin-left, margin-right, ou margin para todos */
    min-height: 50;
    padding-left: 50px; /* espaçamento do conteúdo dentro: padding-left, padding-right, padding-top, padding-bottom ou padding para todos */
    border:white;
    border-radius: 5px
}